@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

body{
  margin:0;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  letter-spacing: 5px;
}
.container{
  background-color:#BEE2B1;
  width: 50%;
  max-width:500px;
  height: 700px;
  margin: auto;
  position:absolute;
  top:50%;
  right:10px;
  transform: translate(-50%, -50%);
  padding:20px;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.3);
  z-index:10;
  border-radius:10px;
}

p{
  margin:15px 0 2px 0;
  font-size:12px;
}

.email{
  margin-bottom:15px;
}

.input{
  width:calc(100% - 10px);
  border:1px solid #b8e994;
  padding:9px 4px;
  font-size:14px;
}

.pass-text{
  display:inline-block;
}
.show{
  float:right;
  margin-top:11px;
  transform:translateY(-2px);
}
.show span{
  font-size:12px;
}

.button{
  background-color:#78d9ad;
  color:white;
  text-align:center;
  margin-top:20px;
  padding:13px 0px;
  cursor: pointer;
  transition:all .3s ease;
}

.button:hover{
  background-color:#5aaa84;
  transition:all .3s ease;
}

.sleep-eye{
  height:5px;
  width:30px;
  background-color:#000;
  position:absolute;
  top:73px;
}

.sleep-eye-left{
  left:13px;
}

.sleep-eye-right{
  right:13px;
}

.mad{
  animation: mad .3s ease;
}

@keyframes mad{
  0%{
    transform:translateX(0);
  }
  25%{
    transform:translateX(10px);
  }
  50%{
    transform:translateX(-10px);
  }
  75%{
    transform:translateX(10px);
  }
  100%{
    transform:translateX(0px);
  }
}

@keyframes catch{
  0%{transform:rotate(0deg) translate(-50%, -50%)}
  10%{transform:rotate(-10deg) translate(-50%, -50%)}
  20%{transform:rotate(10deg) translate(-50%, -50%)}
  30%{transform:rotate(0deg) translate(-50%, -50%)}
  40%{transform:rotate(0deg) translate(-50%, -50%)}
  
  50%{transform:rotate(-10deg) translate(-50%, -50%)}
  60%{transform:rotate(10deg) translate(-50%, -50%)}
  70%{transform:rotate(0deg) translate(-50%, -50%)}
  80%{transform:rotate(0deg) translate(-50%, -50%)}
}
.red{
  background-color: #CBBFDA;
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  z-index:99;
  display: none;
}
.done{
  background-color:#27ae60;
  position:absolute;
  z-index:100;
  height:0px;
  top:0;
  left:0;
  width:190px;
  overflow:hidden;
  color:white;
  text-align:center;
  font-weight:bold;
  line-height:190px;
  font-size:20px;
}
@keyframes catch2{
  0%{background-color:white;}
  10%{background-color:#e74c3c;}
  20%{background-color:white;}
  30%{background-color:#e74c3c;}
  40%{background-color:white;}
  50%{background-color:#e74c3c;}
  60%{background-color:white;}
  70%{background-color:#e74c3c;}
  80%{background-color:white;}
}

@keyframes done{
  0%{height:0px;}
  100%{height:190px;}
}
.black{
  position: relative;
  background-color:black;
  width:50px;
  height:55px;
  top:25px;
  left: 8px;
}
.blackright{
  position: relative;
  background-color:black;
  width:50px;
  height:55px;
  right: -95px;
  top: -30px;
}
.oreja{
  position:relative;
  width:60px;
  height:60px;
  background-color:black;
  left:140px;
  top: 29px;
  border-radius:20px;
}
.orejad{
  position:absolute;
  width:60px;
  height:60px;
  background-color:black;
  left:315px;
  top: 50px;
  border-radius:20px;
}
input, .show{
  border-radius: 30px;
  height: 40px;
  margin-right: 30px;
}
#tittle{
      margin: 0;
      position: absolute;
      width:900px;
      top: 50%;
      -ms-transform: translate(-50%, -50%);
      font-size: 50px;
      text-align: center;
      color: #000000;
      letter-spacing: 20px;
      text-decoration: underline 2px;
      font-weight: lighter;
}
  .show p{
    width:60px;
    margin-top: 20px;
    margin-right: 50px;
 }
input:hover{
  box-shadow: 0 4px 4px -0px rgba(0,0,0,.3);
}
.last{
  margin-top: 60px;
  font-size: 40px;
  letter-spacing: 5px;
  text-align: center;
}
p{
  font-size:15px;
  margin-left: 50px;
}
.input{
  width: 450px;
  transform: translateX(5%);
  border-color: transparent;
}
.pass-text{
  margin-top:30px;
 }
footer {
    position: absolute;
    top: 929px;
    font-weight: bold;
    background-color: white;
    height: 40px;
    width: 1920px;
    text-align: left;

}
footer .text{
      position: absolute;
      top: -10px;
      left: 10px;
      font-family: Allerta;
      font-size: 10px;
      letter-spacing: 1px;
}
.button{
  position: absolute;
  left: -95px;
  bottom: 100px;
  width: 200px;
  height: 70px;
  border-radius: 35px;
  background-color:white;
  color:black;
  font-size: 15px;
  transform: translateX(70%);
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.3);
  border-color:transparent; 
  font-family: 'Montserrat', serif;
  letter-spacing: 5px;

}
.button:hover{
  color:white;
  background-color: #D6ECED;
  box-shadow: 0 4px 4px -0px rgba(0,0,0,.3);
  
}


.button2{
  cursor: pointer;
  position: absolute;
  bottom: 70px;
  left: 30px;
  width: 250px;
  height: 70px;
  border-radius: 35px;
  background-color:white;
  color:black;
  font-size: 15px;
  transform: translateX(45%);
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.3);
  border-color:transparent; 
  font-family: 'Montserrat', serif;
  letter-spacing: 5px;

}
.button2:hover{
  color:white;
  background-color: #D6ECED;
  box-shadow: 0 4px 4px -0px rgba(0,0,0,.3);
}
.casita{
  position: absolute;
  width: 70px;
  height: 70px;
  top: 40px;
  left: 40px;
}